<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'session_words/css/indexstyle.css' %}">
</head>
<body>
    <div id="leftside">
        <form action = '/process' method='post'>
            {% csrf_token %}
            <div class="form-group">
                <h3>Add a new word</h3>
                <input type="text" class="form-control mleft" name="word">
            </div>
            <input type="hidden" name="color" value="black">
            <div class="form-group">
                <label for="exampleInputPassword1">Choose Color</label>
                <div class="form-check mleft">
                    <input class="form-check-input" type="radio" name="color" value="red">
                    <label class="form-check-label" for="exampleRadios1">
                        Red
                    </label>
                </div>
                <div class="form-check mleft">
                    <input class="form-check-input" type="radio" name="color" value="green">
                    <label class="form-check-label" for="exampleRadios2">
                        Green
                    </label>
                </div>
                <div class="form-check mleft">
                    <input class="form-check-input" type="radio" name="color" value="blue">
                    <label class="form-check-label" for="exampleRadios3">
                        Blue
                    </label>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name='big_font' value='1'>
                <label class="form-check-label">show in BIG fonts!</label>
            </div>
            <button type="submit" class="btn btn-primary mtop">Add to Session</button>
        </form>
    </div>
    <div id="rightside">
        <a class="btn btn-danger" href="/clear" role="button">Clear Session</a>
        {% if words%}
            {% for i in words %}
            <p><span style="color:{{ i.color }}; font-size:{{ i.fontsize }};">{{ i.word }}</span> - added on {{ i.datetime }}</p>
            {% endfor %}
        {% endif %}
    </div>
    </body>
</body>
</html>